/* Poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.logo {
    width: 70px;
    height: auto;
}

.top-header, #top-Hero-section {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.bike-gray-scale {
    filter: grayscale(100%);
}
#about-us {
    background-color: #f36524;
}

.fas {
    font-size: 40px;
    color: #f36524;
    margin-right: 20px;
}
.download-text {
    font-size: 10px;
}
.apple-store {
    font-size: 14px;
}
.fab {
    font-size: 40px;
}
.footer-btn {
    padding: 5px 15px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
}
.download-origin {
    margin: 0;
}